<?xml version="1.0" encoding="UTF-8"?>
<settings>

   <mirrors>
      <mirror>
         <id>Nexus</id>
         <name>BMW Nexus</name>
         <url>https://nexus.bmwgroup.net/repository/bmw_proxied_repositories</url>
         <mirrorOf>central</mirrorOf>
      </mirror>
   </mirrors>

</settings>